.OxButtonGroup {
    float: left;
    margin: 4px 3px 2px 3px;
}
.symbol {
    float: left;
    width: 256px;
    height: 256px;
    margin: 8px;
}
.OxThemeClassic .symbol {
    border: 1px solid rgb(208, 208, 208);
}
.OxThemeModern .symbol {
    border: 1px solid rgb(48, 48, 48);
}